<p>
  <strong>Artysta:</strong>
  <%= @event.artist %>
</p>

<p>
  <strong>Opis:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Cena niższa:</strong>
  <%= @event.price_low %>
</p>

<p>
  <strong>Cena wyższa:</strong>
  <%= @event.price_high %>
</p>

<p>
  <strong>Data:</strong>
  <%= @event.event_date %>
</p>


<div class='nav'>
<%= link_to 'Edytuj', edit_event_path(@event) %> |
<%= link_to 'Cofnij', event_path %>
</div>
